<main class="login-container">
    <form id="registerForm" method="POST">
        <h1>Inscription</h1>

        <div class="form-group">
            <label for="name">Nom *</label>
            <input type="text" id="name" name="name" placeholder="nom" required>
        </div>

        <div class="form-group">
            <label for="prenom">Prénom *</label>
            <input type="text" id="prenom" name="prenom" placeholder="prenom" required>
        </div>

        <div class="form-group">
            <label for="email">eMail *</label>
            <input type="email" id="email" name="email" placeholder="test@mail.com" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe *</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="text" id="telephone" name="telephone" placeholder="téléphone : 06 07 08 09 10">
        </div>

        <div class="form-group">
            <label for="cp">code postal</label>
            <input type="number" id="cp" name="cp" placeholder=45000>
        </div>

        <div class="form-group">
            <label for="ville">ville</label>
            <input type="text" id="ville" name="ville" placeholder=Orléans>
        </div>

        <div class="form-group" id="btnform">
            <button type="submit">S'inscrire</button>
        </div>
    </form>
</main>