p {
    line-height: 1.6;
    margin: 0 0 15px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
}

.Search {
    background-color: #000000;
    margin: 2em auto ;
    border-radius: 60px;
    min-width: 95%;
    max-width: 95%;
    min-height: 16em;
    max-height: 16em;

    display: flex;
    justify-content: space-between;
}

.islam {
    display: flex;
    justify-content: space-between;
}
.islam div {
    min-height: fit-content;
}
.islam img {
    min-height: 100;
    min-width: 100;
    margin: 0;
}

.Search-section {
    margin: 32px auto;
    width: 90%;
}

.Search-section h1 {
    color: white;
    font-size: 2.5em;
    text-align: inherit;
}

.Search-section form {
    margin-top: 2em;
    display: flex;
}

.search-bar {
    background-color: #D9D9D9;
    height: 4em;
    border-radius: 30px;
    padding: 0 2em;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-bar.left {
    flex-grow: inherit;
    flex-basis: 80%;
    margin-right: 2em;
}
.search-bar.left {
    flex-grow: 1;
    flex-basis: 20%;
}

.search-bar div {
    display: flex;
    margin: 0 0.5em;
}

.search-bar .resto {
    flex-grow: 1;
    flex-basis: 80%;
}
.search-bar .Position {
    margin-left: 2em;
    flex-basis: 20%;
}

.search-bar input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
}

#resto-pos {
    font-weight: bold;
    max-width: calc(100% - 36px);
}

.petite-barre {
    min-width: 2px;
    max-width: 2px;

    min-height: 80%;
    margin: 0 1em 0 1em;

    background-color: #000000;
}

.search-pos-image, .maps {
    margin-left: 2em;
}

.search-image {
    overflow: visible;
    min-height: 20em;
    max-height: 20em;
    position: relative;
}


button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #119572;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0e785c;
}



.about {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

.about-image {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.date-time {
    display: flex;
    gap: 10px;
}

.date label,
.time label {
    background-color: #008080;
    color: #fff;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.date input,
.time input {
    display: none;
}

/* Section restaurant et carte */

.Separation-affichage-vertical {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-height: 32vh;
}

.Separation-affichage-vertical iframe {
    background-color: rgb(184, 236, 209);
    flex-basis: 35%;
    flex-grow: 1;
    margin: 2em;
}
.Affichage-restaurants-vertical {
    flex-basis: 65%;
    flex-grow: 1;
    overflow-y: hidden;
    max-height: 40em;
    margin-bottom: 80px;
    margin-left: 20px sqdazefzrzgerzgerzrzg
}

.Affichage-fiches-horizontal {
    
    overflow-y: scroll;
    max-height: 40em;
    padding-bottom: 12em;
}

.Affichage-fiches-horizontal article {
    display: flex;
    max-height: 10em;
    background-color: white;
    margin: 2em;
    margin-right: 2em;
    margin-right: 10%;

    border-radius: 10px;
    box-shadow: 10px 5px 5px black;

}

.Affichage-fiches-horizontal article img {
    max-width: 10em;
}

.trier {
    margin: auto;
    width: 95%; /* Min et max width identiques, donc simplifié */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.v1, .scrollmenu {
    width: 100%;
    display: flex; /* Permet d'appliquer le centrage */
    justify-content: left; /* Centre horizontalement */
    margin: 10px 0; /* Évite la double marge */
}

.v1>input ,.scrollmenu>input{
  width: auto;
  min-width: 100px; /* Pour définir une largeur minimale */
  padding: 5px;
  font-size: 16px;
  border-radius: 60px;
  background-color: DDDDDD;
  border: 2px solid black;
  border-width: medium;
  cursor: pointer;
}

.v1>input:hover ,.scrollmenu>input:hover {
    background-color: #59FF9E;
}

.v1>input , select {
  width: auto;
  min-width: 25%; /* Pour définir une largeur minimale */
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border-radius: 60px;
  border: 2px solid black;
  background-color: white;
  border-width: medium;
  cursor: pointer;
}

section.scrollmenu {
  overflow-y: scroll;
  max-height: 40em;
  padding-bottom: 1em;
  overflow: auto;
  white-space: nowrap;
  gap: 1em;
    
}

section.scrollmenu  {
  border-radius: 20px;
}

section.scrollmenu imput:hover {
  background-color: #777;
    
}


.contenu-vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.Separation-affichage-vertical {
    display: flex;
    gap: 10px;
    margin-left: 3%;
}

